<h1><%= @student.first_name %> <%= @student.last_name %></h1>
<p>
  <strong>Email:</strong> <%= @student.email %><br>
  <strong>Grade Level:</strong> <%= @student.grade_level %><br>
  <strong>Teacher:</strong> <%= link_to "#{@student.teacher.first_name} #{@student.teacher.last_name}", teacher_path(@student.teacher) %><br>
  <strong>School:</strong> <%= link_to @student.teacher.school.name, school_path(@student.teacher.school) %>
</p>

<%= link_to "Back to Students", students_path %>
